body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial' sans-serif;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
}
h2 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}
a {
    text-decoration: none;
    color: #3498db;
}
a:hover {
    text-decoration: underline;
}
form {
    margin: 20px 0;
}
button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #3498db;
}
form button {
    margin-top: 10px;
}
form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}