{% extends "base_generic.html" %}
{% block content %}
<h2>تفاصيل العقد</h2>
<p>الاسم:{{ contract.tenant_name }}</p>
<a href="{% url 'contract_update' contract.pk %}">تعديل العقد</a>
<form method="post" action="{% url 'contract_delete' contract.pk %}">
    {% csrf_token %}
    <button type="submit">حذف العقد</button>
</form>
<a href="{% url 'contract_list' %}">العودة إلى قائمة العقود</a>
{% endblock %}