{% extends 'base_generic.html' %}

{% block content %}
<h2>إضافة عقد جديد</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">حفظ</button>
</form>
{% endblock %}