{% extends 'base_generic.html' %}

{% block content %}
<h2>قائمة العقود</h2>
<ul>
    {% for contract in object_list %}
    <li><a href="{% url 'contract_detail' contract.pk %}">{{ contract.tenant_name }} - {{ contract.property_address}}</li>
    {% endfor %}
</ul>
<a href="{% url 'contract_new' %}">إضافة عقد جديد</a>
{% endblock %}